:root {
    --background-color-dark: #19221b;
    --panel-color-dark: #546958;
    --grey-inactive: #879486;
    --bright-active: #27b927;
    --white: #ffffff;
}


body {
    background-color: var(--background-color-dark);
    color: var(--white);
}

.panel {
    background-color: var(--panel-color-dark);
    border: 1px solid var(--white);
    border-radius: 16px;
    color: var(--white);
}

.panel a {
    color: #ffffff;
    font-weight: bold;
}

.profile-comic-row:not(:last-child) {
    border-bottom: 1px solid var(--white);

}

.schedule-icon {
    background-color: var(--grey-inactive);
    margin: 0;
}

.schedule-endcap {
    height: 24px !important;
    width: 40px;
    padding-top: calc(.375rem + 4px);
    padding-bottom: calc(.375rem + 4px);
}

.schedule-icon:first-child {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
.schedule-icon:last-child {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.schedule-checkbox:checked + .schedule-icon {
    background-color: var(--bright-active);
    font-weight: bold;
}

.time-drop {
    width:unset !important;
}


.allbord div {
    border: 1px solid red;
}

.c4-comic-admin-row:nth-child(odd) {
    background-color: rgba(0,0,0,10%);
}

a.btn.btn-link:hover {
    color: var(--white);
}

.dropzone-target {
    border: 2px solid var(--white);
    border-radius: 16px;
    min-height: 200px;
}

.dropzone-target img {
    border-radius: 16px;
}

#image_upload_spinner {
    position: relative;
    top: 128px;

}



.dropzone {
    background-color: unset !important;
    border: 2px solid var(--white);
    border-radius: 16px;
    max-height: 60px;
}

.img-icon {
    width: 50px !important;
    min-width: 50px !important;
    max-width: 50px !important;
    height: auto;
    border-radius: 16px;
}


.cast-select:checked + label.cast-select-label {
    background-color: var(--white);
    border: 2px solid var(--background-color-dark);
    color: var(--background-color-dark);
    border-radius: 8px;

}

#c4-comic-management-tabs a:not(.active):hover {
    color: var(--white);
}

.checkbox-toggle-icon::before {
    position: relative;
    top: -.75rem;
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    font-size: 2rem;
    background-color: var(--bs-white);
    padding: .25rem 1rem .25rem 1rem ;
    border-radius: 16px;
}


.checkbox-toggle ~ label.checkbox-toggle-icon::before {
    content: '\f204';
    color: var(--bs-gray-300);
}


.checkbox-toggle:checked ~ label.checkbox-toggle-icon::before {
    content: '\f205';
    color: var(--bs-green);
}