

body {
    background-color: var(--background-color-dark);
    color: var(--white);
}

.panel {
    background-color: var(--panel-color-dark);
    border: 1px solid var(--white);
    border-radius: 16px;
    color: var(--white);
}

.panel a {
    color: var(--white)fff;
    font-weight: bold;
}

.profile-comic-row:not(:last-child) {
    border-bottom: 1px solid var(--white);

}

.schedule-icon {
    background-color: var(--grey-inactive);
    margin: 0;
}

.schedule-endcap {
    height: 24px !important;
    width: 40px;
    padding-top: calc(.375rem + 4px);
    padding-bottom: calc(.375rem + 4px);
}

.schedule-icon:first-child {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
.schedule-icon:last-child {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.schedule-checkbox:checked + .schedule-icon {
    background-color: var(--bright-active);
    font-weight: bold;
}

.time-drop {
    width:unset !important;
}


.allbord div {
    border: 1px solid red;
}

.c4-comic-admin-row:nth-child(odd) {
    background-color: rgba(0,0,0,10%);
}

a.btn.btn-link:hover {
    color: var(--white);
}

.dropzone-target {
    border: 2px solid var(--white);
    border-radius: 16px;
    min-height: 120px;
}

#user-banner {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    margin: 0;

}

.dropzone-target img {
    border-radius: 16px;
}

#image_upload_spinner {
    position: relative;
    top: 128px;

}



.dropzone {
    background-color: unset !important;
    border: 2px solid var(--white);
    border-radius: 16px;
    max-height: 60px;
}

.img-icon {
    min-width: 50px !important;
    max-width: 150px !important;
    height: auto;
    border-radius: 16px;
}


.cast-select:checked + label.cast-select-label {
    background-color: var(--white);
    border: 2px solid var(--background-color-dark);
    color: var(--background-color-dark);
    border-radius: 8px;

}

#c4-comic-management-tabs a:not(.active):hover {
    color: var(--white);
}

.checkbox-toggle-icon::before {
    position: relative;
    top: -.75rem;
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    font-size: 2rem;
    background-color: var(--bs-white);
    padding: .25rem 1rem .25rem 1rem ;
    border-radius: 16px;
}


.checkbox-toggle ~ label.checkbox-toggle-icon::before {
    content: '\f204';
    color: var(--bs-gray-300);
}


.checkbox-toggle:checked ~ label.checkbox-toggle-icon::before {
    content: '\f205';
    color: var(--bs-green);
}

a.btn-light {
    color: initial;
}

#sidebar-container.collapsed .nav-expanded {
    display:none;
}

#sidebar-container #sidebar-collapse-button-icon:before {
    content: "\f066";
}

#sidebar-container.collapsed #sidebar-collapse-button-icon:before {
    content: "\f065";
}

.pop-list {
    position: fixed;
    top: 50px;
    right: 50px;
    width: 350px;
    z-index: 9999;
}

.pop {
    position: relative;
    border: 2px solid var(--white);
    border-radius: 16px;
}

.info-pop {
    background-color: rgba(38,146,0,75%) !important;
    color: var(--white)FFF !important;
}

.error-pop {
    background-color: #ff0000 !important;
    color: var(--white)FFF !important;
}

.btn-clickthulu.btn-success {
    --bs-btn-color: var(--white);
    --bs-btn-bg: var(--success-light);
    --bs-btn-border-color: var(--success-light);
    --bs-btn-hover-color: var(--white);
    --bs-btn-hover-bg: #157347;
    --bs-btn-hover-border-color: var(--success-medium);
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: var(--white);
    --bs-btn-active-bg: var(--success-medium);
    --bs-btn-active-border-color: var(--success-dark);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--white);
    --bs-btn-disabled-bg: var(--success-light);
    --bs-btn-disabled-border-color: var(--success-light);
}

.btn-clickthulu.btn-outline-success {
    --bs-btn-color: var(--success-light);
    --bs-btn-border-color: var(--success-light);
    --bs-btn-hover-color: var(--white);
    --bs-btn-hover-bg: var(--success-light);
    --bs-btn-hover-border-color: var(--success-light);
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: var(--white);
    --bs-btn-active-bg: var(--success-light);
    --bs-btn-active-border-color: var(--success-light);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--success-light);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--success-light);
    --bs-gradient: none;
}
