{% extends 'base.html.twig' %}

{% block title %}{{ app.user.username }}'s Feed{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% include "common/user-sidebar.html.twig" %}
{% endblock %}