{% extends 'base.html.twig' %}

{% block title %}Server Logs{% endblock %}

{% block body %}
    <div class="container">
        <div class="card col p-3 mt-5 panel" id="c4-comic-admin">
            <div class="row mb-3">
                <div class="col">
                    <h1>Server Logs</h1>
                </div>
            </div>
            {% for log in logs %}
                <div class="row server-log">
                    <div class="col-2">{{ log.level }}</div>
                    <div class="col-2">{{ log.date|date("Y-m-d H:i:s") }}</div>
                    <div class="col">{{ log.message }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block sidebar %}
    {% include "common/user-sidebar.html.twig" %}
{% endblock %}

