<div class="pop error-pop p-3 mb-2 row col">
    <div class="row">
        <div class="col-11"><h5>Error</h5></div>
        <div class="col-1"><button class="btn btn-outline-light btn-sm"><i class="fas fa-close pop-close"></i></button></div>
    </div>
    <div class="row">
        <div class="col">
            {{ error }}
        </div>
    </div>
</div>
