:root {
    --background-color-dark: #22191b;
    --panel-color-dark: #695458;
    --bright-active: #b92727;

    --success-light: #b92727;
    --success-medium: #9B2727;
    --success-dark: #7d2727;
}

