<div class="container">
    <div class="card col p-3 mt-5 panel" id="c4-comic-admin">
        <div class="row mb-3">
            <div class="col">
                <h1>{{ comic.name }}: Theme Management</h1>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <h3>Custom themes are not allowed on this instance</h3>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <h5>Please see the Instance Owner to enable custom themes</h5>
            </div>
        </div>
    </div>
</div>