{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="row m-5">
    <div class="col-8 offset-2 panel p-3">
        <h1>Welcome to ClickthuluFed {% if settings.get.server_url is not empty %}on @{{ settings.get.server_url }}{% endif %}</h1>
        <p>
        Eventually, this will have a display of all the latest pages of currently active comics on the instance.
        Until then, it's best to:
        </p>
        {% if app.user %}
            <div class="row">
                <div class="col-4 offset-4 text-center">
                    <a href="/profile" class="btn btn-outline-primary btn-block">Go to your profile</a>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-4 offset-4 text-center">
                    <a href="/login" class="btn btn-outline-primary btn-block">Login</a>
                </div>
            </div>
            {% if settings.get.allow_user_signup %}
            <div class="row">
                <div class="col-4 offset-4 text-center">
                    or
                </div>
            </div>
            <div class="row">
                <div class="col-4 offset-4 text-center">
                    <a href="/register" class="btn btn-outline-success btn-block">Register</a>
                </div>
            </div>
            {% endif%}
        {% endif%}
    </div>
</div>
{% endblock %}
