{% extends 'public.html.twig' %}

{% block title %}Not Found...{% endblock %}

{% block mainbody %}

<div class="container">

    <div class="card col-10 offset-1 p-3 mt-5 panel" id="c4-comic-admin">
        <div class="row mb-3">
            <div class="col">
                <h1>Hrm...  Not seeing that here...</h1>
                Whatever it is you're looking for, it's not here.  Maybe we should look somewhere else.
            </div>
        </div>
    </div>
</div>
{% endblock %}
